# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Data & model files
data/
saved_models/
services/data/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# macOS
.DS_Store
